<div class="h-screen w-full bg-cover bg-center bg-no-repeat bg-fixed flex flex-col justify-end" style="background-image: url('<%= asset_path("gabriel-profile-image.jpg") %>');">
  <div class="bg-black bg-opacity-20 sm:p-8 w-full">
    <div class="container mx-auto max-w-4xl">
      <h1 class="text-4xl sm:text-6xl font-bold text-white mb-4">Gabriel Giroe</h1>
      <p class="text-xl sm:text-2xl text-white mb-4">
        Software developer, using Ruby on Rails to bring joy.
        <%= link_to "https://www.instagram.com/gabriel.giroe/", target: "_blank" do %>
          <u class="text-yellow-500">Let's chat!</u>
        <% end %>
      </p>
      <div class="flex flex-wrap justify-center sm:justify-start space-x-4 mb-0 mt-4">
        <%= link_to "https://www.instagram.com/gabriel.giroe/", target: "_blank", class: "mb-2" do %>
          <i class="fa-brands fa-instagram text-white text-3xl sm:text-4xl"></i>
        <% end %>
        <%= link_to "https://x.com/gabrielgiroe", target: "_blank", class: "mb-2" do %>
          <i class="fa-brands fa-x-twitter text-white text-3xl sm:text-4xl"></i>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/georgel-gabriel-giroe-26379520a/", target: "_blank", class: "mb-2" do %>
          <i class="fa-brands fa-linkedin-in text-white text-3xl sm:text-4xl"></i>
        <% end %>
        <%= link_to "https://github.com/gabrielgiroe1", target: "_blank", class: "mb-2" do %>
          <i class="fa-brands fa-github text-white text-3xl sm:text-4xl"></i>
        <% end %>
        <%= link_to "/Gabriel_Giroe_CV_2024_-_Software_Engineer.pdf", target: "_blank", class: "mb-2" do %>
          <i class="fa-regular fa-file text-white text-3xl sm:text-4xl"></i>
        <% end %>
        <%= link_to "mailto:gabriel.giroe@gmail.com", target: "_blank", class: "mb-2" do %>
          <i class="fa-regular fa-envelope text-white text-3xl sm:text-4xl"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
